/*----- 
SASS VARIABLES
-----*/

/* main */

$primary: #fafafd;
$secondary: #1b1b31;
$tertiary: #d1d1e0;

/* main variants */

$secondary-light: scale-color($secondary, $lightness: 10%);
$tertiary-light: scale-color($tertiary, $lightness: 50%);
$tertiary-lighter: scale-color($tertiary, $lightness: 70%);

/* link colors */

$link: #45617d;
$link-visited: #44447c;

/* warnings, alerts, etc. */

$warning: #bc6600;
$warning-strong: #890301;
$success: #105e2a;

$warning-bg: scale-color($warning, $lightness: 70%);
$warning-strong-bg: scale-color($warning-strong, $lightness: 70%);
$success-bg: scale-color($success, $lightness: 70%);

/*----- 
SASS MIXINS
-----*/

@mixin secondary-bg-primary-txt {
    background: $secondary;
    color: $primary;
    a, a:visited {
        color: $primary;
    }
    a:hover {
        background: $secondary-light;
    }
}

@mixin inherit-bg-txt {
    background: inherit;
    color: inherit;
    a {
        color: inherit;
    }
}

/*----- 
ELKARTE "RESETS"
-----*/

/* removing rounded corners and borders */

.linklevel1, #wrapper, .category_header, .forum_category .category_header, input, button, select, textarea, .editor, #search_form .input_text, .menulevel2, .menulevel3, .board_row, .childboard_row, .forumposts > li, .content_category > div, .content_category > li, .linklevel1.active, .listlevel1:hover .active, #collapse_button .linklevel1, .pm_indicator, .likes_indicator, .linklevel1.active:hover, .listlevel1:hover .linklevel1.active, #collapse_button .linklevel1:hover, .linklevel1:hover .pm_indicator, .linklevel1:hover, .listlevel1:hover .linklevel1, .linklevel2:hover, .listlevel2:hover .linklevel2, .linklevel3:hover, .listlevel3:hover .linklevel3, #menu_sidebar .linklevel1:hover, #menu_sidebar .listlevel1:hover .linklevel1, #menu_current_area > strong > .linklevel1, #news_line, #news, .navigate_section, #top_section, #footer_section, .ic_section_header, .linktree, .board_latest, #gotop, #gobottom, .linklevel2:link, .linklevel2:visited, .linklevel3:link, .linklevel3:visited, .pagelinks :last-child, .pagelinks .navPages:hover, .pagelinks .current_page, #description_board .generalinfo, #forumposts .generalinfo, #sort_by, .topic_listing > li, #topic_icons, input[type="submit"], .drop_area_fileselect_text, .drop_area .mobile, button[type="submit"], input[type="button"], .linkbutton:link, .linkbutton_right:link, .linkbutton_left:link, .linkbutton:visited, .linkbutton_right:visited, .linkbutton_left:visited, .forumposts, .inner, .messageContent, .poster_online .linklevel1, .poster li.poster_online:hover .linklevel1, .well, .roundframe, .description, .information, .warningbox, .successbox, .infobox, .errorbox, .table_grid, fieldset, .content, .generic_list_wrapper, .mlist li div:first-child, .mlist li.alternate_row div, .whos_online dd:nth-child(2n) div, .mlist li div:last-child, .mlist li div, .whos_online dt div, .whos_online dd:nth-child(2n+1) div, .letter_row > h3, #helpmain, #main_grid .calendar_today, #month_grid .calendar_today, #calendar_navigation, .weeklist > li, #postAdditionalOptionsNC, #postMoreOptions {
    border: none;
    border-radius: 0;
}

/*----- 
GENERAL
-----*/

body {
    background: $primary;
    color: $secondary;
    font-size: 1em;
}

.clear {
    opacity: 0;
}

/*----- 
LINKS
-----*/

a {
    color: $link;
}

a:visited {
    color: $link-visited;
}

.linklevel1:hover {
    background: $tertiary;
}

/*----- 
BUTTONS & INPUTS
-----*/
button, select, input, input[type="submit"], button[type="submit"], input[type="button"], textarea, #search_form button, .editor {
    border: 1px $tertiary solid;
}

button, input[type="submit"], button[type="submit"], input[type="button"] {
    background: $tertiary-light;
}

button:hover, input[type="submit"]:hover, button[type="submit"]:hover, input[type="button"]:hover {
    background: $tertiary-lighter;
}

#search_form button {
    border-width: 0 0 0 1px;
}

textarea {
    padding: .5em;
}

/*----- 
HEADERS
-----*/

header, h1, h2 {
    @include secondary-bg-primary-txt;
}

/*----- 
NAVIGATION
-----*/

#menu_nav .linklevel1:hover {
    background: $secondary-light;
}

.menulevel2, .menulevel3 {
    @include secondary-bg-primary-txt;
}

.subsections:hover .linklevel1::after {
    content: '';
}

/* breadcrumbs */

.linktree, .linktree::after {
    background: $tertiary;
}

.linktree {
    border: 3px $primary solid;
    border-width: 3px 0;
}

.linktree::after {
    box-shadow: 2px -2px 0 1px $primary;
}

.linktree:last-child {
    @include secondary-bg-primary-txt;
}

.linktree:last-child::after {
    background: $secondary;
}

/*----- 
NEWS
-----*/

#news > h2 {
    @include inherit-bg-txt;
}

/*----- 
BOARDS INDEX
-----*/

.forum_category {
    padding: 1em;
    margin-bottom: 0.5em;
}

.board_row {
    margin-top: 1em;
}

.board_row:first-of-type {
    margin-top: 0;
}

#info_center h2 {
    margin-bottom: 1em;
}

/*----- 
POSTS
-----*/

.keyinfo, .post_subject {
    @include inherit-bg-txt;
}

.post_wrapper {
    border-bottom: 1px $tertiary solid;
}

/*----- 
TABLES
-----*/

.table_head {
    @include secondary-bg-primary-txt;
}

.table_head .i-sort-numeric-down::before {
    background: $primary;
    position: relative;
    top: -3px;
}

.table_grid td {
    border-color: $tertiary;
}

/*----- 
ALERTS, WARNINGS, NOTIFICATIONS, ETC.
-----*/

.errorbox {
    background: $warning-strong-bg;
}

.warningbox {
    background: $warning-bg;
}

.successbox {
    background: $success-bg;
}

.alert, .warn-mute, #top_section_notice {
	color: $warning-strong;
}

.warn_moderate, .softalert {
    color: $warning;
}

.warn_watch, .success {
    color: $success;
}

.error {
	color: $warning-strong !important;
}

.border_error {
	border-color: $warning-strong !important;
}

.pm_indicator {
    background: $warning-strong;
    color: $primary;
}

/*----- 
CALENDAR
-----*/

#main_grid .calendar_today, #month_grid .calendar_today {
    background: $tertiary;
}

.previous_month .icon, .next_month .icon {
    background: $primary;
    border-radius: 50%;
    padding: 1px;
}

.weeklist > li {
    border-bottom: 1px $tertiary solid;
    margin: 0;
}