/*----- 
SASS VARIABLES
-----*/
/* main */
/* link colors */
/* warnings, etc. */
/*----- 
SASS MIXINS
-----*/
/*----- 
ELKARTE "RESETS"
-----*/
/* removing rounded corners and borders */
.linklevel1, #wrapper, .category_header, .forum_category .category_header, input, button, select, textarea, .editor, #search_form .input_text, .menulevel2, .menulevel3, .board_row, .childboard_row, .forumposts > li, .content_category > div, .content_category > li, .linklevel1.active, .listlevel1:hover .active, #collapse_button .linklevel1, .pm_indicator, .likes_indicator, .linklevel1.active:hover, .listlevel1:hover .linklevel1.active, #collapse_button .linklevel1:hover, .linklevel1:hover .pm_indicator, .linklevel1:hover, .listlevel1:hover .linklevel1, .linklevel2:hover, .listlevel2:hover .linklevel2, .linklevel3:hover, .listlevel3:hover .linklevel3, #menu_sidebar .linklevel1:hover, #menu_sidebar .listlevel1:hover .linklevel1, #menu_current_area > strong > .linklevel1, #news_line, #news, .navigate_section, #top_section, #footer_section, .ic_section_header, .linktree, .board_latest, #gotop, #gobottom, .linklevel2:link, .linklevel2:visited, .linklevel3:link, .linklevel3:visited, .pagelinks :last-child, .pagelinks .navPages:hover, .pagelinks .current_page, #description_board .generalinfo, #forumposts .generalinfo, #sort_by, .topic_listing > li, #topic_icons, input[type=submit], .drop_area_fileselect_text, .drop_area .mobile, button[type=submit], input[type=button], .linkbutton:link, .linkbutton_right:link, .linkbutton_left:link, .linkbutton:visited, .linkbutton_right:visited, .linkbutton_left:visited, .forumposts, .inner, .messageContent, .poster_online .linklevel1, .poster li.poster_online:hover .linklevel1, .well, .roundframe, .description, .information, .warningbox, .successbox, .infobox, .errorbox {
  border: none;
  border-radius: 0;
}

/*----- 
GENERAL
-----*/
body {
  background: #fafafd;
  color: #1b1b31;
  font-size: 1em;
}

/*----- 
LINKS
-----*/
a {
  color: #45617d;
}

a:visited {
  color: #44447c;
}

.linklevel1:hover {
  background: #d1d1e0;
}

/*----- 
BUTTONS & INPUTS
-----*/
button, select, input, input[type=submit], button[type=submit], input[type=button], textarea, #search_form button, .editor {
  border: 1px #d1d1e0 solid;
}

#search_form button {
  border-width: 0 0 0 1px;
}

/*----- 
HEADERS
-----*/
header, h1, h2 {
  background: #1b1b31;
  color: #fafafd;
}
header a, header a:visited, h1 a, h1 a:visited, h2 a, h2 a:visited {
  color: #fafafd;
}

/*----- 
NAVIGATION
-----*/
#menu_nav .linklevel1:hover {
  background: transparent;
}

.menulevel2, .menulevel3 {
  background: #1b1b31;
  color: #fafafd;
}
.menulevel2 a, .menulevel2 a:visited, .menulevel3 a, .menulevel3 a:visited {
  color: #fafafd;
}

/* breadcrumbs */
.linktree, .linktree::after {
  background: #d1d1e0;
}

.linktree {
  border: 3px #fafafd solid;
  border-width: 3px 0;
}

.linktree::after {
  box-shadow: 2px -2px 0 1px #fafafd;
}

.linktree:last-child {
  background: #1b1b31;
  color: #fafafd;
}
.linktree:last-child a, .linktree:last-child a:visited {
  color: #fafafd;
}

.linktree:last-child::after {
  background: #1b1b31;
}

/*----- 
NEWS
-----*/
#news > h2 {
  background: inherit;
  color: inherit;
}
#news > h2 a {
  color: inherit;
}

/*----- 
BOARDS INDEX
-----*/
.forum_category {
  padding: 1em;
  margin-bottom: 0.5em;
}

.board_row {
  margin-top: 1em;
}

.board_row:first-of-type {
  margin-top: 0;
}

/*----- 
POSTS
-----*/
.keyinfo, .post_subject {
  background: inherit;
  color: inherit;
}
.keyinfo a, .post_subject a {
  color: inherit;
}

.post_wrapper {
  border-bottom: 1px #d1d1e0 solid;
}

/*----- 
WARNINGS, ETC.
-----*/
.warningbox {
  background: #fff176;
}

/*# sourceMappingURL=index_light.css.map */
